@using Game.Data.Dinosaurs.DinosaurMoves;
@using Game.Data;
<div style="float:right; text-align:center;">
    <h3>Turn Summary</h3>
    <div>
        @foreach (var summary in TurnSummaries)
        {
            <div style="outline-style:double; margin:10px; padding:20px;">
                @if (summary.MoveType == MoveType.Defensive)
                {
                    <p>@summary.Attacker used @summary.MoveName to increase base defense by +@summary.DefensiveIncrease</p>
                }
                @if (summary.MoveType == MoveType.Offensive)
                {
                    <p>@summary.Attacker used @summary.MoveName at @summary.Defender!</p>
                    @if (summary.Successful)
                    {
                        <p>It was a successful hit!</p>
                        <p>@summary.AttackDamage damage was done to @summary.Defender.</p>
                    }
                    @if (!summary.Successful)
                    {
                        <p>It was not successful.</p>
                    }
                }
                @if(summary.UltimateChargeIncrease > 0)
                {
                    <p>@summary.Attacker increased Ultimate charge by @summary.UltimateChargeIncrease</p>
                }                
            </div>
            
        }
    </div>

</div>

@code {
    [Parameter]
    public List<MoveSummary> TurnSummaries { get; set; }
}
