@using Game.Data;
@using Game.Services;
@inject IPlayerMonsterService MonsterService

<div class="container align-content-center">
    <p>Level: @monster.Level</p>
    <p>Health: @monster.TotalHealth</p>
    <p>Health: @monster.TotalHealth</p>
    <p>Attack: @monster.Attack</p>
    <p>Defense: @monster.Defense</p>
</div>

@code {
    [Parameter]
    public Monster monster { get; set; }
}

