@page "/party"
@using Game.Data;
@using Game.Data.Dinosaurs;
@using Game.Services;
@inject IPlayerDinosaurService PlayerMonsters
@inject IDinosaurCreationService MonsterCreation

<div style="text-align:center;" class="overflow-auto">
    <h1><b>Fossils</b></h1>
    <p>Fossil Total: @player.Fossils.Count()</p>
    @foreach (var fossil in player.Fossils)
    {
        <div class="card" style="width: 18rem; flex-wrap:initial">
            <div class="card-body">
                <h5 class="card-title"><b>@fossil.DinosaurType @fossil.FossilType</b></h5>
            </div>
        </div>
    }
</div>

<div style="text-align:center;" class="overflow-auto">
    <h1><b>Dinosaur Army</b></h1>
    <p>Party size: @player.Dinosaurs.Count()/@player.MaxPartySize</p>

    @foreach (var dinosaur in player.Dinosaurs)
    {
        <div class="card" style="width: 18rem; flex-wrap:initial">
            <div class="card-body">
                <h5 class="card-title"><b>@dinosaur.Name</b></h5>
                <p class="card-subtitle mb-2 text-muted">Level: @dinosaur.Level Experience: @dinosaur.CurrentExperience/@dinosaur.ExperienceToLevelUp</p>
                <p class="card-text">Health: @dinosaur.TotalHealth</p>
                <p class="card-text">Attack: @dinosaur.Attack</p>
                <p class="card-text">Defense: @dinosaur.Defense</p>
                <p>
                    @if (dinosaur.Locked)
                    {
                        <span class="oi oi-lock-locked">  Locked!</span>
                    }
                </p>

                <button class="btn btn-primary" @onclick="() => LockDinosaur(dinosaur)" value="@dinosaur">Lock</button>
                <button class="btn btn-danger" @onclick="() => RemoveMonster(dinosaur)">Remove</button>
            </div>
        </div>
    }

</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void LockDinosaur(Dinosaur dinosaur)
    {
        dinosaur = MonsterCreation.LockOrUnlockDinosaur(dinosaur);
    }

    public void RemoveMonster(Dinosaur dinosaur)
    {
        player = PlayerMonsters.RemoveDinosaur(player, dinosaur);
    }
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        display: grid;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 16px 16px;
    }
</style>