@page "/party"
@using Game.Data;
@using Game.Services;
@inject IPlayerMonsterService PlayerMonsters
@inject IMonsterCreationService MonsterCreation

<div style="text-align:center;" class="overflow-auto">
    <h1><b>Party</b></h1>
    <p>Party size: @player.Fossils.Count()/@player.MaxPartySize</p>

    @foreach (var teamMember in player.Fossils)
    {
        <div class="card" style="width: 18rem; flex-wrap:initial">
            <div class="card-body">
                <h5 class="card-title"><b>@teamMember.Name</b></h5>
                <p class="card-subtitle mb-2 text-muted">Level: @teamMember.Level Experience: @teamMember.CurrentExperience/@teamMember.ExperienceToLevelUp</p>
                <p class="card-text">Health: @teamMember.TotalHealth</p>
                <p class="card-text">Attack: @teamMember.Attack</p>
                <p class="card-text">Defense: @teamMember.Defense</p>
                <p>
                    @if (teamMember.Locked)
                    {
                        <span class="oi oi-lock-locked">  Locked!</span>
                    }
                </p>

                <button class="btn btn-primary" @onclick="() => LockMonster(teamMember)" value="@teamMember">Lock</button>
                <button class="btn btn-danger" @onclick="() => RemoveMonster(teamMember)">Remove</button>
            </div>
        </div>
    }

</div>

@code {
    [CascadingParameter]
    public Player player { get; set; }

    public void LockMonster(Fossil monster)
    {
        monster = MonsterCreation.LockOrUnlockMonster(monster);
    }

    public void RemoveMonster(Fossil monster)
    {
        player = PlayerMonsters.RemoveMonster(player, monster);
    }
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        display: grid;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 16px 16px;
    }
</style>