@page "/labratory/splicer"
@using Game.Data;
@using Game.Data.Dinosaurs;
@using Game.Data.Fossils;
@using Game.Services;
@inject IPlayerDinosaurService DinosaurService
@inject IPlayerFossilService FossilService
@inject IAmberService AmberService
@inject NavigationManager NavigationManager


<h1><b>Amber Splicer</b></h1>
<div style="float:left">
    <div>        
        <img src="/images/dinosaurbones.png" />
    </div>
    <div style="float:left">
        @if (!HasEnough)
    {
        <div class="alert alert-danger" role="alert">
            <p>Gather more amber to crack open. If you are lucky, you might find dinosaur DNA!</p>
            <button class="btn btn-danger" @onclick="RedirectToAmber">Gather More Amber</button>
        </div>
    }
    <div style="text-align:center">
            <p>Total Amber: @player.Amber</p>
            <p>Amber Needed to Hunt for New Fossils: @player.AmberPerFossil</p>
    </div>
    
    <button class="btn btn-primary" @onclick="GetNewFossil">Crack Amber</button>
    <button class="btn btn-primary" @onclick="GetFiveFossils">Crack 5 Amber</button>
    <button class="btn btn-primary" @onclick="RedirectToLab">Back to the Labratory</button>
    </div>
</div>

<div style="text-align:center; float:left">
    <h3><b>Fossil Inventory</b></h3>
    <p>Total DNA Samples: @player.Fossils.Count()</p>
    @if(clawCount > 0)
    {
        <p>Raptor Claw Pieces: @clawCount</p>
    }
    @if (skullCount > 0)
    {
        <p>Raptor Skull Fragment: @skullCount</p>
    }
    @if(footCount > 0)
    {
        <p>Raptor Foot Bones: @footCount</p>
    }
    @if(ribCount > 0)
    {
        <p>Raptor Ribs: @ribCount</p>
    }    
</div>


@code {
    [CascadingParameter]
    public Player player { get; set; }

    public bool HasEnough { get; set; } = true;
    public int clawCount = 0;
    public int skullCount = 0;
    public int footCount = 0;
    public int ribCount = 0;

    protected override async Task OnInitializedAsync()
    {
        GetRaptorFossilCount(player);
    }

    private void GetNewFossil()
    {
        var enoughGold = AmberService.HasEnough(player, player.AmberPerFossil);
        if (enoughGold)
        {
            HasEnough = true;
            player.Amber = AmberService.Pay(player.AmberPerFossil, player.Amber);
            player = FossilService.HuntForFossil(player);
        }
        else
        {
            HasEnough = false;
        }
        GetRaptorFossilCount(player);
    }

    private void GetFiveFossils()
    {
        for (int i = 0; i < 5; i++)
        {
            GetNewFossil();
        }        
    }

    public void GetRaptorFossilCount(Player player)
    {
        clawCount = 0;
        skullCount = 0;
        footCount = 0;
        ribCount = 0;

        foreach (var fossil in player.Fossils)
        {
            if (fossil.DinosaurType == DinosaurTypeEnum.Raptor)
            {
                if (fossil.FossilType == FossilType.Claw)
                    clawCount++;
                if (fossil.FossilType == FossilType.Ribs)
                    ribCount++;
                if (fossil.FossilType == FossilType.Skull)
                    skullCount++;
                if (fossil.FossilType == FossilType.Foot)
                    footCount++;
            }
        }
    }

    private void RedirectToAmber()
    {
        NavigationManager.NavigateTo("/amber");
    }

    private void RedirectToLab()
    {
        NavigationManager.NavigateTo("/labratory");
    }
}
