@using Game.Data.Dinosaurs;
@using Game.Data;

<div>
    @if (Dinosaur.PetName != null)
    {
        <h1><b>@Dinosaur.PetName</b></h1>
        <p>@Dinosaur.DinosaurType</p>
    }
    else
    {
        <h1><b>@Dinosaur.DinosaurType</b></h1>
    }
    <p class="card-subtitle mb-2 text-muted">Level: @Dinosaur.Level Experience: @Dinosaur.CurrentExperience/@Dinosaur.ExperienceToLevelUp</p>
    <p class="card-text">Health: @Dinosaur.TotalHealth</p>
    <p class="card-text">Attack: @Dinosaur.Attack Defense: @Dinosaur.Defense</p>
    <p class="card-text">Era: @Dinosaur.DinosaurEra</p>
    <p class="card-text">Color: @Dinosaur.DinosaurColor</p>
    <p>
        @if (Dinosaur.Locked)
        {
            <span class="oi oi-lock-locked">  Locked!</span>
        }
    </p>
</div>

@code {
    [Parameter]
    public Dinosaur Dinosaur { get; set; }
}
